
#sidebar

  img(src='/img/me.jpeg', alt='Shane Creighton-Young', height=150, width=150)

  h1
    a(href='/') #{global.title}

  ul
    for item in sidebar.items
      if(item.title == here)
        li.here
          a(href='#{item.url}') #{item.title}
      else 
        li 
          a(href='#{item.url}') #{item.title}
