doctype html

html
  head
    if(title)
      title S. C. Young - #{title}
    else
      title S. C. Young

    include includes/css.jade
    include includes/analytics.jade

  body
    include includes/sidebar.jade
    #content
      h1 Old Posts
      for post in posts
        h2
          a(href='/#{post.path}') #{post.title}
        .subtitle #{post.prettydate}
        span !{post.excerpt}

