doctype html

html
  head
    if(title)
      title #{global.title} - #{title}
    else
      title #{global.title}

    include includes/meta.jade
    include includes/analytics.html

    include includes/fonts.jade
    include includes/highlightjs.jade

    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/social_icons.css' media='all')

  body
    #container
      //- sidebar div
      include includes/sidebar.jade

      #content
        h1 Posts
        for post in posts

          //- this is so ugly, but I can't think of another way to exclude
          //- this file from the collection
          if (post.title != 'Shane Creighton-Young\'s Blog')
            h2 
              a(href='/#{post.path}') #{post.title}
            p !{post.excerpt}

