doctype html

html
  head
    if(title)
      title #{global.title} - #{title}
    else
      title #{global.title}

    include includes/meta.jade

    include includes/fonts.jade
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')

  body
    #outer-holder
      #inner-holder

        //- sidebar div
        include includes/sidebar.jade

        #content
          #blog
            for post in posts
              h2 
                a(href='/#{post.path}') #{post.title}
              p !{post.excerpt}



