doctype html

html
  head
    if(title)
      title #{global.title} - #{title}
    else
      title #{global.title}

    include includes/meta.jade
    include includes/analytics.html

    include includes/fonts.jade
    include includes/highlightjs.jade

    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel="stylesheet", type="text/css", href="/css/social_icons.css", media="all")

  body
    #container
      //- sidebar div
      include includes/sidebar.jade

      #content
        h1 #{title}

        #preamble 
          p !{preamble}

        //- !{...} doesn't escape the contents of the variable
        span !{contents}
