doctype html

html
  head
    if(title)
      title S. C. Young - #{title}
    else
      title S. C. Young

    link(rel='stylesheet', type='text/css', href='/reset.css')
    link(rel='stylesheet', type='text/css', href='/style.css')

  body
    include includes/sidebar.jade
    #content
      .date !{prettydate}
      h1 #{title}
      if(preamble)
        blockquote !{preamble}
      span !{contents}
