
html
  head
    if(title)
      title #{global.title} - #{title}
    else
      title #{global.title}

    include includes/fonts.jade
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')

  body
    #holder

      //- !{...} doesn't escape the contents of the variable
      #content !{contents}

        //- sidebar div
        include includes/sidebar.jade



